{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-9">
      <h2>家計簿詳細</h2>
    </div>
    <div class="col-3">
      <a
        class="btn btn-outline-primary"
        href="{{ url_for('edit', id=kakeibo.id) }}"
        role="button"
        >情報編集</a
      >
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">日付</th>
        <th scope="col">収入・支出</th>
        <th scope="col">費目</th>
        <th scope="col">金額</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{kakeibo.id}}</th>
        <td>{{ kakeibo.date }}</td>
        {% if kakeibo.is_money %}
        <td>収入</td>
        {% else %}
        <td>支出</td>
        {% endif %}
        <td>{{ kakeibo.title }}</td>
        <td>{{ kakeibo.number }}円</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
