{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <h2>家計簿一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">日付</th>
        <th scope="col">収入・支出</th>
        <th scope="col">費目</th>
        <th scope="col">金額</th>
      </tr>
    </thead>
    <tbody>
      {% for kakeibo in data.kakeibos %}
      <tr>
        <th scope="row">{{kakeibo.id}}</th>
        <td>
          <a
            class="text-decoration-none"
            href="{{ url_for('detail', id=kakeibo.id) }}"
          >
            {{ kakeibo.date }}
          </a>
        </td>
        {% if kakeibo.is_money %}
        <td>収入</td>
        {% else %}
        <td>支出</td>
        {% endif %}
        <td>{{ kakeibo.title }}</td>
        <td>{{ kakeibo.number }}円</td>
        <td>
          <form action="{{ url_for('delete', id=kakeibo.id) }}" method="POST">
            <input class="btn btn-danger btn-sm" type="submit" value="削除" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  合計{{data.summary}}円
</div>

<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>

{% endblock %}
