{% extends "layout.html" %}

{% block content %} 

<h1>サンプルフォームです。</h1>

<form action="/sampleform" method="POST">
  <input name="data1" type="number"></input>
  <select name="calc" id="sample">
    <option name="sample1" value="sample1" id="sample1">+</option>
    <option name="sample2" value="sample2" id="sample2">-</option>
    <option name="sample3" value="sample3" id="sample3">*</option>
    <option name="sample4" value="sample4" id="sample4">/</option>
  </select>
    <input name="data2" type="number"></input>
  <button type="submit">送信</button>
  <script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>
</form>

{% endblock %}